html, body, #map_canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.header {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  width: 100%;
  z-index: 10;
  line-height: 37px;
}

.header .container-fluid {
  position: relative;
}

.header h1 {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.2px;    
  margin: 0;
  padding: 10px 0 10px 55px;
  text-transform: uppercase;
}

.header a {
  padding-right: 20px;
  color: #fff;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#map_canvas {
  position: relative;
}

.angular-leaflet-map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/*================================================
ABOUT PAGE
=================================================*/
  /* 
  * Near Me 3
  * 
  */

  section.about-me {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  section.about-me div {
    text-align: center;
  }

  section.about-me div h1 {
    font-size: 48px;
    font-weight: bold;
  }

  section.about-me div h2 {
    font-size: 36.8px;
    font-weight: lighter;
    margin-bottom: 1em;
  }

  section.about-me div button {
    font-size: 16px;
    border:none;
    background: #3388CD;
    color: white;
    padding: 1.5em 2em 1.5em 2em;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }

    section.about-me div button:hover {
      background: white;
      color: #3388CD;
      outline: 2px solid #3388CD;
    }
  

/*================================================ */
